* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.navbar {
  height: 50px;
  width: 100%;
}
.navbar p {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 30px;
}
.middle-content {
  height: 500px;

  background-color: rgba(108, 151, 231, 0.253);
  display: flex;
}
.text-easy {
  width: 45%;
  height: 500px;
}
.text-easy h2 {
  width: 700px;
  font-size: 50px;
  font-weight: 1000;
  padding-top: 90px;
  padding-left: 40px;
}
.ai-content1 {
  display: flex;
  padding-left: 50px;
  gap: 40px;
  padding-top: 40px;
  font-size: 20px;
}
.ai-content2 {
  display: flex;
  padding-left: 50px;
  gap: 40px;
  padding-top: 40px;
  font-size: 20px;
}

.hero-image img {
  max-height: 500px;
  width: 100%;
}

button {
  background-color: black;
  color: white;
  margin-top: 30px;
  margin-left: 45px;
  cursor: pointer;
  height: 50px;
  width: 25%;
  border-radius: 25px;
  font-weight: bold;
}
.offer-link {
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 50px;
}
.offer-link a {
  color: black;
}
.center-content {
  margin-left: 400px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: 1000;
}
.center-content h1 {
  font-weight: 1000;
}
.center-content h2 {
  font-weight: 1000;
  font-size: 50px;
  margin-left: 23px;
}

.low-content {
  margin-top: 55px;
  height: 600px;
  display: flex;
}

.low-image img {
  height: 650px;
}
.low-content {
}

.low-heading {
  margin-top: 90px;
  margin-left: 130px;
  font-size: 20px;
}
.low-heading p {
  margin-top: 10px;
}
.low-heading1 {
  margin-top: 90px;
  margin-left: 130px;
  font-size: 20px;
}
.low-heading1 p {
  margin-top: 10px;
}

.low-heading3 {
  margin-top: 90px;
  margin-left: 130px;
  font-size: 20px;
}
.low-heading3 p {
  margin-top: 10px;
}

.low-heading4 {
  margin-top: 90px;
  margin-left: 130px;
  font-size: 20px;
}
.low-heading4 p {
  margin-top: 10px;
}
.button1 {
  font-weight: 500;
  margin-left: 40%;
  margin-bottom: 20px;
  text-align: center;
}
.button1 button {
  width: 300px !important;
  height: 50px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
}
